.temp_blocks{
  position: absolute;
  top:0;
  left:0;
  background-color: silver;
  opacity: 60%;
  width: 1440px;
  height: 4426px;
  margin: 0 auto;
}

.temp{
  position: absolute;
  background-color: red;
  opacity: 50%;
}

.temp_1{
  position: absolute;
  background-color: yellow;
  opacity: 50%;
}

.block_nav_1{

  width: 140px;
  height: 72px;
  top: 27px;
  left: 70px;
  background-image: url("src/shark_logo.png");
  background-size: cover;
}

.block_nav_2{
  width: 715.47px;
  height: 51.16px;
  top: 37px;
  left: 704px;
}
.block_nav_2_3{
  width: 191.477px;
  height: 51.16px;
  top: 37px;
  left: 1050.68px;
}

.block_nav_2_1{
  width: 183.47px;
  height: 51.16px;
  top: 37px;
  left: 704px;
}

.block_sect_1_0{
  top: 124px;
  left: 146px;
  height: 608.45px;
  width: 1145.46px;
}

.block_sect_1_0_1{
  top: 124px;
  left: 146px;
  height: 607.8px;
  width: 214.93px;
  background-image: url("src/letter/s.svg");
  background-size: cover;
}
.block_sect_1_0_2{
  top: 131.77px;
  left: 374.78px;
  height: 591.62px;
  width: 216.19px;
  background-image: url("src/letter/h.svg");
  background-size: cover;
}
.block_sect_1_0_3{
  top: 124px;
  left: 604px;
  height: 604.45px;
  width: 214.9px;
  background-image: url("src/letter/o.svg");
  background-size: cover;
  border: 1px solid;
  border-color: red;
}
.block_sect_1_0_4{
  top: 131.77px;
  left: 833.58px;
  height: 591.62px;
  width: 214.9px;
  background-image: url("src/letter/r.svg");
  background-size: cover;
}
.block_sect_1_0_5{
  top: 131.77px;
  left: 1062.32px;
  height: 591.45px;
  width: 229.14px;
  background-image: url("src/letter/k.svg");
  background-size: cover;
}
.block_sect_1_1{
  /* fish */
  width: 2337.66px;
  height: 934.01px;
  top: 5.78px;
  left: -1515.99px;
}
.block_sect_1_2{
  /* fish */

  width: 2820px;
  height: 1468.18px;
  top: -155px;
  left: -1626px;
  background-color: white;
  background-image: url("src/shark_logo.png");
  background-size: cover;
}
.block_sect_1_3{

  width: 420.8px;
  height: 112.32px;
  top: 247.84px;
  left: 70px;
  background-color: white;
}

.block_sect_2_1{

  width: 431px;
  height: 50px;
  top: 925px;
  left: 147px;
}
.block_sect_2_2{

  width: 580px;
  height: 142px;
  top: 1038px;
  left: 147px;
}

.block_sect_2_3{

  width: 580px;
  height: 142px;
  top: 1038px;
  left: 147px;
}
.block_sect_2_4{

  width: 672px;
  height: 187px;
  top: 1291px;
  left: 652px;
}

.block_sect_5_1{

  width: 1607.4px;
  height: 837px;
  top: 3656px;
  background-color: white;
  background-image: url("src/shark_logo.png");
  background-size: cover;
  /* left: 652px; */
}
.block_sect_5_2{

  width: 680.84px;
  height: 397.71px;
  top: 3457px;
  left: 351.2px;
}
