
.page-wrapper{
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.logo_block{
  margin-right: auto;
}

.nav_logo{
  width: 140px;
  height: 72px;
}

.menu{
  margin-left: auto;
  display: flex;
}

.menu_btn{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  text-transform: uppercase;
  font-size: 1.5rem;
}

a{
  text-decoration: none;
}

.letters_box{
  position: relative;
  display: flex;
  height: 608.45px;
  width: 1145.46px;
  margin: 1.5rem auto;
}

.letter{
  background-image: url("src/letter/SHORK.svg");
  width: 100%;
}

.fish_box{
  position: absolute;
}
.fish{
  background-image: url("src/shark_logo.png");
  background-size: cover;
  width: 2820px;
  height: 1468.18px;
  /* top: -155px; */
  /* left: -1626px; */
}
