<h2>about</h2>

<h3>Цель: попасть мышкой в цель</h3>
переместить мышь от Start до Finish:
  одним движением,
  с примерно постояннокй скоростью
<p>Особенность: у игрока есть 1 движение, состоящие из 2 этапов
1: старт с примерно одинаковой скоростью
2: резкий стоп, мышь должна останавливаться мгновено</p>

<h3>Виды целей:</h3>
<ul>
  <li>Круги</li>
  <li>Объекты</li>
</ul>

<h3>Виды пперемещаемого предмета</h3>
<ul>
  <li>Курсор</li>
  <li>Указка</li>
  <li>Прицел</li>
</ul>


<h4>To do</h4>
<ul>
  <li>Разные уровни: круги не рандомные, есть карта</li>
  <li>увеличение сложности: количество кругов</li>
  <li>увеличение сложности: препятствия (движение не по прямой)</li>
  <li>набор очков</li>
  <li>набор очков: за точность попадания в finish</li>
  <li>набор очков: за скорость перемещения</li>
  <li>информация по мышке (модель, скорость и тд)</li>
  <li>информация по браузеру + ram</li>
  <li>Круги будут перемещаться</li>
  <li>Версия для телефонов</li>
  <li>звуковое сопровождение</li>
  <li>Возможность замены кругов/фона на другие картинки</li>
  <li>Добавление разных интерактивных вещей (пузыри, отлетающие волны, дым)</li>
  <li>Режим релакса/чила, когда двигать можно как угодно</li>
  <li>режим движения по линиям</li>

  <li>Режими для других устройств (джойстики)</li>
  <li>Режими для других устройств (рули)</li>
  <li>Режими для других устройств (штурвал)</li>

  <li>Режим появления цели в разных местах</li>

</ul>
