.fish {
    animation: shark-swim 2s backwards;
}
.fish_back {
    animation: shark_shadow-come 1s backwards;
    animation-delay: 1.8s
}

@keyframes shark-swim {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shark_shadow-come {
    0% {opacity: 0;}
    100% { opacity: 1;}
}
