.indicator {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: white;
    width: 20px;
    height: 130px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между кружками */
    justify-content: center;
    z-index: 4;
}

.indicator div {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Делает элемент круглым */
    background-color: #ccc; */
    transition: background-color 0.3s ease;
    cursor: pointer; /* Курсор меняется на указатель */
}

.indicator div.active {
    background-color: #00A8FF; /* Цвет активного кружка */
}
