#_1 {
  width: 194px;
  height: 160px;
  left: 1092px;
  top: 306px;
  transform: skew(304deg, 34deg);
}
#_2 {
  width: 189px;
  height: 162px;
  left: 1164px;
  top: 33px;
  transform: skew(407deg, -13deg);
}
#_3 {
  width: 187px;
  height: 168px;
  left: 505px;
  top: 537px;
  transform: skew(343deg, 10deg);
}
#_4 {
  width: 164px;
  height: 161px;
  left: 1011px;
  top: 539px;
  transform: skew(317deg, 19deg);
}
#_5 {
  width: 190px;
  height: 140px;
  left: 577px;
  top: 62px;
  transform: skew(304deg, 20deg);
}
#_6 {
  width: 145px;
  height: 160px;
  left: 167px;
  top: 216px;
  transform: skew(340deg, 10deg);
}
#_7 {
  width: 164px;
  height: 136px;
  left: 806px;
  top: 217px;
  transform: skew(331deg, 8deg);
}
#_8 {
  width: 168px;
  height: 151px;
  left: 758px;
  top: 494px;
  transform: skew(335deg, 3deg);
}
#_9 {
  width: 147px;
  height: 99px;
  left: 209px;
  top: 497px;
  transform: skew(302deg, 36deg);
}
#_10 {
  width: 224px;
  height: 154px;
  left: 130px;
  top: 110px;
  transform: skew(304deg, 13deg);
}
#_11 {
  width: 208px;
  height: 162px;
  left: 1106px;
  top: 506px;
  transform: skew(307deg, 19deg);
}
